* {
  padding: 0;
  margin: 0;
}

:root {
  --clr-100: #fff;
  --clr-200: #EDF2FB;
  --clr-300: #E2EAFC;
  --clr-400: #D7E3FC;
  --clr-500: #CCDBFD;
  --clr-600: #C1D3FE;
  --clr-700: #B6CCFE;
  --clr-800: #ABC4FF;
}

.container {
  min-height: 90vh;
  margin: 2em 5%;
}

.login-form {
  position: relative;
  width: fit-content;
  top: 10vh;
  background-color: var(--clr-300);
  margin: 0 auto;
  padding: 1em 3em;
  font-size: 1.5rem;
  border-radius: 10px;
}

#login-headline {
  position: relative;
  display: inline-block;
  margin-bottom: .5em
}

#login-headline::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid black;
}

.login-form label {
  display: block;
}

.login-group {
  margin-bottom: .4em;
}

.btn-group {
  width: 90%;
  margin: 0 auto;
}

.login-form input {
  padding: .2em .3em;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.2rem;
}

.login-form button {
  padding: .7em;
  border: 1px solid black;
  border-radius: .3em;
  box-shadow: 2px 2px var(--clr-600);
}

#login-btn {
  background-color: var(--clr-500);
}

#translate-btn {
  background-color: var(--clr-700);
}