* {
    margin: 0;
    padding: 0;
}

:root {
    --progress-width: 400px;
}

.container {
    margin: 3em 5%;
    height: 80vh;
    background-color: #E2EAFC;
    padding: 1em;
}

.progress-bar {
    position: relative;
    width: var(--progress-width);
    height: 4em;
    background-color: lightgrey;
    overflow: hidden;
}

.progress-bar::before, .progress-bar::after {
    content: '';
    position: absolute; /* progress-bar blir nya förälder */
    width: 800px;
    height: 4em;
    animation-name: progressing;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background: repeating-linear-gradient(
        90deg,
        #606DBC,
        #606DBC 10px,
        #465298 10px,
        #465298 20px
    );
}

.progress-bar::before {
    left: -800px;
}

@keyframes progressing {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(800px);
    }
}