* {
    padding: 0;
    margin: 0;
}
  
  /* Layoutet som vi försöker bygga finns i bilden 5_kolumner_v2.png */

.container { /* parent element */
    margin: 3em 5%;
    position: relative;
}

  main, aside {
      position: absolute;
  }

  main {
      width: 60%;
  }

  aside {
      width: 30%;
      right: 0;
  }